@import "./src/assets/colors.scss";
@import "./src/assets/fonts.scss";

.button {
  font-weight: bold;
  border-radius: 20px;
  width: 160px;
  height: 40px;
  outline: none;
  border: $BORDER_BUTTON;
  cursor: pointer;
}
