@import "./src/assets/colors.scss";
@import "./src/assets/fonts.scss";
@import "../main-button/button.scss";

.primary-button {
  box-shadow: 0 10px 20px 0 rgba(41, 177, 204, 0.3);
  background: $CYAN;
  color: $WHITE;
}