@import "./src/assets/colors.scss";

.input {
  width: 350px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #dfe2e6;
  background-color: $WHITE;
  outline: none;
  padding-left: 45px;
  box-sizing: border-box;
  font-size: 15px;
}

.input::placeholder {
  color: $GRAY;
}
