.input {
  width: 350px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #dfe2e6;
  background-color: #ffffff;
  outline: none;
}

.label {
    width: 79px;
    height: 15px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .check-box-outline-blank {
    width: 18px;
    height: 18px;
    object-fit: contain;
    background-color: #dfe2e6;
  }
